
 <div class="container" method="POST" >
  <div >
     <h3 id="text">ADDITION OF TWO NUMBERS</h3>
     
     <div class="well" >
        <label for="Number1" id="fm" >Number1</label>
        <input class="form-control" name= "val1" type="text" [(ngModel)] = "ab"  placeholder="Enter a Number"  >
      </div>
  
    
      <div class="well">
        <label for="Number2" id="fu">Number2</label>
        <input class="form-control" name= "val2" type="text" [(ngModel)] = "ba"  placeholder="Enter a Number" >
      </div>
      <br>
    
      <div class="well" id="sum">
          <button  (click) = " bba() " type="submit" class="btn btn-primary">Sum</button>
          <p class="form-control"  id="u">{{ result }}</p>
           
      </div>

 </div> 
 </div> 
